@import '../vendor/riktar/jkanban/jkanban.css';

#leftsidebar {
  z-index: 99999;
}

a.progress-bar:hover,
a.progress-bar:focus {
  text-decoration: none;
  color: white;
  background-color: #848484 !important;
}

header.kanban-board-header {
  padding-left: 0;
}

main.kanban-drag {
  padding: 15px !important;
}

body.theme-uccello header.kanban-board-header {
  padding-left: 10px;
  color: white;
}